.pe-pagination {

  button {
    min-width: 44px;
    min-height: 44px;
    padding: 0;
    color: #6a7070;
    background-color: transparent;
    border: 0;

    &.ellipsis {
      min-width: 32px;
    }
    &:hover span, &:focus span {
      border-bottom: 2px solid #6a7070;
    }
    &[aria-current] span {
      color: #252525;
      border-bottom: 2px solid #252525;
      font-weight: bold;
    }
  }
  button:first-child,
  button:last-child {
    min-width: 28px;
    min-height: 28px;
    border: 1px solid #c7c7c7;
    border-radius: 50%;

    &:hover span,
    &:focus span {
      border-bottom: 0;
    }
    &:disabled {
      color: #c7c7c7;
    }
  }

  .compact-text {
    margin: 0 17px;
  }
}

